:root {
    --color-1: #FB7D7F;
    --color-2: #F94144;
    --color-3: #F9585B;
    --color-4: #F94C4F;
    --color-5: #FB8500;
    --color-6: #FB8500;
    --color-7: #000000;
    --color-8: #ffffff;
}

body {
    background-color: var(--color-1);
}

#bgNav {
    background-color: var(--color-2);
}

#btnNavbar {
    border-color: var(--color-7);
    color: var(--color-8);
}

#btnNavbar:hover {
    color: var(--color-7);
    border-color: black;
}

.logo {
    width: 100%;
    height: 80px;
}

.btnFormNavbar {
    border-color: var(--color-7);
    color: var(--color-8);
}

.btnFormNavbar:hover {
    color: var(--color-7);
    border-color: black;
    background-color: var(--color-8);
}

.btn-cadastro,
.btn-cadastro:focus {
    color: var(--color-8);
    background: var(--color-1);
    font-size: 14px;
    padding: 8px 26px;
    margin: 0;
    border-radius: 4px;
    transition: 0.5s;
    text-decoration: none;
}

.btn-cadastro:hover {
    color: var(--color-8);
    background-color: var(--color-5);
}

.containerMapa {
    background-color: var(--color-8);
    width: 70%;
    margin: auto;
    height: 40rem;
    border-radius: 10px;
    text-align: center;
}

.formMapa {
    width: 70%;
    height: 3rem;
    margin: auto;
}

.mapa {
    background-color: var(--color-7);
    height: 70%;
    border-radius: 10px;
    color: var(--color-8);
}


.btnFormMapa {
    border-color: var(--color-7);
    color: var(--color-7);
    width: 4rem;
}

.btnFormNavbar:hover {
    color: var(--color-7);
    border-color: black;
    background-color: var(--color-8);
}


.containerSelecao {
    background-color: var(--color-8);
    width: 70%;
    margin: auto;
    height: 18rem;
    border-radius: 10px;

}

.containerEscolhaSelecao {
    display: flex;
    justify-content: space-evenly;
}



.alavanca {
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.liga-desliga__checkbox {
    position: absolute;
    left: -9999px;
}

.liga-desliga__botao {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.liga-desliga__botao::before,
.liga-desliga__botao::after {
    content: "";
    box-shadow: 0 0 0 1px #CCC;
    transition: all 0.2s ease;
}

.liga-desliga__botao::before {
    display: inline-block;
    border-radius: 1em;
    height: 1em;
    width: 2em;
    margin-right: 0.5em;
    background: #900;
}

.liga-desliga__botao::after {
    position: absolute;
    top: 0.015em;
    left: 0.025em;
    width: 0.85em;
    height: 0.85em;
    border-radius: 100%;
    background: #FFF;
    margin-top: 0.23em;
}

.liga-desliga__checkbox:checked+.liga-desliga__botao::before {
    background: #55D069;
}

.liga-desliga__checkbox:checked+.liga-desliga__botao::after {
    left: 1.025em;
}


.liga-desliga-direita__checkbox {
    position: absolute;
    left: -9999px;
}

.liga-desliga-direita__botao {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.liga-desliga-direita__botao::before,
.liga-desliga-direita__botao::after {
    content: "";
    box-shadow: 0 0 0 1px #CCC;
    transition: all 0.2s ease;
}

.liga-desliga-direita__botao::before {
    display: inline-block;
    border-radius: 1em;
    height: 1em;
    width: 2em;
    margin-right: 0.5em;
    background: #900;
}

.liga-desliga-direita__botao::after {
    position: absolute;
    top: 0.015em;
    left: 0.025em;
    width: 0.85em;
    height: 0.85em;
    border-radius: 100%;
    background: #FFF;
    margin-top: 0.23em;
}

.liga-desliga-direita__checkbox:checked+.liga-desliga-direita__botao::before {
    background: #55D069;
}

.liga-desliga-direita__checkbox:checked+.liga-desliga-direita__botao::after {
    left: 1.025em;
}

.imagemOfertas {
    width: 70%;
    margin: auto;
}

.card-oferta {
    height: 340px;
    max-width: 340px;
    padding: 10px;
    text-align: center;
}

.rodape {
    align-items: center;
}

.rodape p {
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .containerSelecao {
        background-color: var(--color-8);
        width: 100%;
        margin: auto;
        height: 18rem;
        border-radius: 10px;
    }

    .containerMapa {
        background-color: var(--color-8);
        width: 100%;
        margin: auto;
        height: 30rem;
        border-radius: 10px;
        text-align: center;
    }

    .formMapa {
        width: 100%;
        height: 3rem;
        margin: auto;
    }
}